{% extends 'base.html.twig' %}

{% block title %}Edit Postimage{% endblock %}

{% block body %}
    <h1>Edit Postimage</h1>

    {{ include('postimage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_postimage_index') }}">back to list</a>

    {{ include('postimage/_delete_form.html.twig') }}
{% endblock %}
