{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div style="margin-left: 300px;margin-top:40px;">
        <div style="display: flex;margin-bottom:10px">
            <h1 style="margin-right: 100px;">User Details</h1>


                <button type="button" style="background-color: #4e73df; border: 2px solid #4e73df; border-radius: 10px; padding: 3px 12px; cursor: pointer;" onclick="history.back()">
                    <span style="color: white; text-decoration: none;">Back To Home</span>
                </button>

                
     
       </div>
       <img src="/images/user/{{ app.user.image }}" alt="User Image" style="max-width: 100px; max-height: 100px;">

        <div>
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}


            {{ include('user/_delete_form.html.twig') }}
        <div>
    </div>
{% endblock %}
